@charset "UTF-8";
.full-slider-3 .carousel-inner {
  cursor: move;
  height: 100vh;
}
.full-slider-3 .carousel-inner .carousel-item {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.full-slider-3 .carousel-inner .carousel-item.carousel-item-left {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.full-slider-3 .carousel-inner .carousel-item.carousel-item-next, .full-slider-3 .carousel-inner .carousel-item.carousel-item-prev, .full-slider-3 .carousel-inner .carousel-item.carousel-item-right {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.full-slider-3 .carousel-inner .carousel-item h2 {
  font-size: 2.0rem;
  font-weight: 500;
}
.full-slider-3 .carousel-inner .carousel-item p {
  /*font-family: 'Metal Mania', cursive;*/
  /*font-family: 'Yellowtail', cursive;*/
  /*font-family: 'Titillium Web', sans-serif;*/
  /*font-family: 'Alegreya Sans', sans-serif;*/
  font-family: 'Gentium Book Basic', serif;
  font-size: 1rem;
  margin: 10px 0 25px;
}
.full-slider-3 .carousel-inner .carousel-item::after {
  background-color: rgba(0, 0, 0, 0.67);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.full-slider-3 .carousel-inner .carousel-item .carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.full-slider-3 .carousel-inner .carousel-item .carousel-caption h2, .full-slider-3 .carousel-inner .carousel-item .carousel-caption p, .full-slider-3 .carousel-inner .carousel-item .carousel-caption .btn {
  opacity: 0;
  visibility: hidden;
}
.full-slider-3 .carousel-inner .carousel-item .carousel-caption .btn:after {
  border-radius: 40px;
  bottom: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.full-slider-3 .carousel-inner .carousel-item .carousel-caption .btn:hover:after {
  bottom: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  opacity: 1;
  visibility: visible;
}
.full-slider-3 .carousel-inner .carousel-item.active {
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption h2, .full-slider-3 .carousel-inner .carousel-item.active .carousel-caption p, .full-slider-3 .carousel-inner .carousel-item.active .carousel-caption .btn {
  opacity: 1;
  visibility: visible;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.first-slide h2 {
  animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.first-slide p {
  animation: 1200ms ease-in-out 0s normal none 1 running slideInDown;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.first-slide .btn {
  animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.second-slide h2 {
  animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.second-slide p {
  animation: 1200ms ease-in-out 0s normal none 1 running slideInUp;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.second-slide .btn {
  animation: 1400ms ease-in-out 0s normal none 1 running zoomInDown;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.third-slide h2 {
  animation: 1500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.third-slide p {
  animation: 1200ms ease-in-out 0s normal none 1 running slideInRight;
}
.full-slider-3 .carousel-inner .carousel-item.active .carousel-caption.third-slide .btn {
  animation: 1400ms ease-in-out 0s normal none 1 running zoomInLeft;
}
.full-slider-3 .carousel-indicators {
  bottom: 40px;
}
.full-slider-3 .carousel-indicators li {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
}
.full-slider-3 .carousel-indicators li.active {
  background-color: #008000;
}